<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign up</title>
    <link rel="stylesheet" href="./style.css" />
    <link rel="icon" type="image/x-icon" href="./images/LOGO NEW.png" />
  </head>
  <body>
    <nav class="sign">
      <a href="./index.html" class="a-logo"
        ><img src="./images/LOGO NEW.png" class="logo"
      /></a>
      <h2 class="reg-head">LOGIN PAGE</h2>
      <!-- <button>Home</button> -->
    </nav>
    <div class="log-form">
      <form class="reg">
        <div class="input-group">
          <!-- <label for="email">Email</label> -->
          <input
            type="email"
            placeholder="Enter mail"
            class="input1 input"
            required
          />
        </div>
        <br />
        <div class="input-group">
          <!-- <label for="email">Contact Numbe</label> -->
          <input
            type="password"
            placeholder="Enter password"
            class="input4 input"
            required
          />
        </div>
        <br />
        <button class="reg-button">
          <a href="./customer_home.html" class="link-reg">Login</a>
        </button>
      </form>
    </div>

    <script src="script.js"></script>
  </body>
</html>
