<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WanderBites</title>
    <link rel="stylesheet" href="style.css" />
    <link rel="icon" type="image/x-icon" href="./images/LOGO NEW.png" />
  </head>
  <body>
    <nav>
      <!-- <div class="left">
            <p>WANDERBITES</p>
        </div> -->
      <div class="right">
        <a href="#" class="a-logo"
          ><img src="./images/LOGO NEW.png" class="logo"
        /></a>
        <ul class="items">
          <!-- <p>WANDERBITES</p> -->
          <a href="./signUp_truck.html"><li class="box">Truck</li></a>
          <a href="./signUp_cus.html"><li class="box">Customer</li></a>
        </ul>
      </div>
    </nav>
    <!-- <img src="./images/paula-vermeulen-URjZkhqsuBk-unsplash.jpg" alt="truck" class="bg"> -->
    <main>
      <h2>WanderBites</h2>
    </main>
  </body>
</html>
