<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign up</title>
    <link rel="stylesheet" href="style.css" />
    <link rel="icon" type="image/x-icon" href="./images/LOGO NEW.png" />
  </head>
  <body>
    <nav class="sign">
      <a href="./index.html" class="a-logo"
        ><img src="./images/LOGO NEW.png" class="logo"
      /></a>
      <h2 class="reg-head">REGISTRATION PAGE</h2>
      <!-- <button>Home</button> -->
    </nav>
    <div class="reg-form">
      <form action="/foodTruck/saveNewFoodTruck"
      method="post"
      enctype="multipart/form-data class="reg">
        <div class="input-group">
          <!-- <label for="email">Email</label> -->
          <input
            type="email"
            name="email"
            placeholder="Enter mail"
            class="input1 input"
            required
          />
        </div>
        <br />
        <div class="input-group">
          <!-- <label for="email">Contact Numbe</label> -->
          <input
            type="text"
            name="contact"
            placeholder="Enter contact number"
            class="input2 input"
            required
          />
        </div>
        <br />
        <div class="input-group">
          <!-- <label for="email">Contact Numbe</label> -->
          <input
            type="text"
            placeholder="Enter truck name"
            name="foodTruckName"
            class="input3 input"
            required
          />
        </div>
        <br />
        <div class="input-group">
          <!-- <label for="email">Contact Numbe</label> -->
          <input
            type="text"
            name="name"
            placeholder="Enter Your Name"
            class="input4 input"
            required
          />
        </div>
        <br />

        <div class="input-group">
          <!-- <label for="email">Contact Numbe</label> -->
          <label for="img">Upload Your Cover Photo</label>
          <input
            type="file"
            name="img"
            placeholder=""
            class="input4 input"
            required
          />
        </div>
        <br />

        <div class="input-group">
          <!-- <label for="email">Contact Numbe</label> -->
          <input
            type="password"
            name="password"
            placeholder="Enter password"
            class="input4 input"
            required
          />
        </div>
        
        <br />

        <div class="input-group">
          <!-- <label for="email">Contact Numbe</label> -->
          <input
            type="password"
            name="cpassword"
            placeholder="Confirm password"
            class="input4 input"
            required
          />
        </div>
        <br />

        <button class="reg-button">
          <a href="./truck_home.html" class="link-reg">Register</a>
        </button>
        <p class="login-link">
          Already a User? <a href="./login_truck.html">Sign In</a>
        </p>
      </form>
    </div>

    <script src="script.js"></script>
  </body>
</html>
