<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WanderBites</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="icon" type="image/x-icon" href="/img/LOGO NEW.png" />
  </head>

  <body class="bg-gray-100 p-0 m-0">
    <nav>
      <!-- <div class="left">
            <p>WANDERBITES</p>
        </div> -->
      <div class="right">
        <a href="#" class="a-logo"
          ><img src="/img/LOGO NEW.png" class="logo"
        /></a>
        <ul class="items">
          <!-- <p>WANDERBITES</p> -->
          <a href="/public/registerFoodTruck" th:unless="${isUserLogged}"
            ><li class="box">Truck</li></a
          >
          <a href="/public/registerUser" th:unless="${isUserLogged}"
            ><li class="box">Customer</li></a
          >
          <a href="/logout" th:if="${isUserLogged}"
            ><li class="box">LogOut</li></a
          >
        </ul>
      </div>
    </nav>

    <main>
      <h2>WanderBites</h2>
      <div
        th:if="${isUserLogged}"
        style="text-align: center; width: 40vw; margin-top: 2vh"
      >
        <div th:if="${isUser}">
          <a
            th:href="@{/user/userDashboard}"
            class="box"
            style="
              background-color: black;
              font-size: 2rem;
              padding: 0.5rem 1rem;
            "
            >Contine</a
          >
        </div>
        <div th:if="${isFoodtruck}" class="mt-[1rem]">
          <a
            th:href="@{/foodTruck/foodTruckDashboard}"
            class="box"
            style="
              background-color: black;
              font-size: 2rem;
              padding: 0.5rem 1rem;
            "
            >Contine</a
          >
        </div>
      </div>
    </main>
  </body>
</html>
