<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <link
      rel="icon"
      type="image/x-icon"
      href="/src/main/resources/static/img/favicon/LOGO NEW.png"
    />

    <title>User | Sign In</title>
  </head>

  <body class="bg-gray-100 p-0 m-0">
    <nav class="sign">
      <a href="/public/" class="a-logo"
        ><img src="/img/LOGO NEW.png" class="logo"
      /></a>
      <h2 class="reg-head">LOGIN PAGE</h2>
      <!-- <button>Home</button> -->
    </nav>

    <div th:if="${param.error}" class="user-alert">
      <div
        th:replace="~{/component/Toaster.html :: toaster(color=red,msg='Bad Credential')}"
      ></div>
    </div>

    <div class="log-form" style="display: flex; flex-direction: column">
      <form class="reg" action="/login" method="post">
        <div class="input-group">
          <!-- <label for="email">Email</label> -->
          <input
            type="email"
            name="username"
            placeholder="Enter mail"
            class="input1 input"
            required
          />
        </div>
        <br />
        <div class="input-group">
          <!-- <label for="email">Contact Numbe</label> -->
          <input
            type="password"
            name="password"
            placeholder="Enter password"
            class="input4 input"
            required
          />
        </div>
        <br />
        <button class="reg-button" type="submit">Login</button>
        <a
          href="/public/registerFoodTruck"
          style="color: white; margin-top: 1rem"
          >Register</a
        >
      </form>
    </div>
  </body>
</html>
