<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="icon" type="image/x-icon" href="/img/favicon/LOGO NEW.png" />

    <title>User | Sign up</title>
  </head>

  <body class="">
    <nav class="sign">
      <a href="/public/" class="a-logo"
        ><img src="/img/LOGO NEW.png" class="logo"
      /></a>
      <h2 class="reg-head">CUSTOMER REGISTRATION PAGE</h2>
    </nav>

    <div th:if="${error}!=''" class="user-alert">
      <div
        th:replace="~{/component/Toaster.html :: toaster(color=${error}=='Registration Successful, LogIn'?green:red,msg=${error})}"
      ></div>
    </div>

    <div class="reg-form">
      <form class="reg" action="/user/saveNewUser" method="post">
        <div class="input-group">
          <!-- <label for="email">Email</label> -->
          <input
            type="email"
            name="email"
            placeholder="Enter mail"
            class="input1 input"
            required
          />
        </div>
        <br />
        <div class="input-group">
          <!-- <label for="email">Contact Numbe</label> -->
          <input
            type="text"
            placeholder="Enter contact number"
            name="contact"
            class="input2 input"
            required
          />
        </div>
        <br />
        <div class="input-group">
          <!-- <label for="email">Contact Numbe</label> -->
          <input
            type="text"
            placeholder="Enter customer name"
            name="name"
            class="input3 input"
            required
          />
        </div>
        <br />
        <div class="input-group">
          <!-- <label for="email">Contact Numbe</label> -->
          <input
            type="password"
            name="password"
            placeholder="Enter password"
            class="input4 input"
            required
          />
        </div>

        <div class="input-group">
          <!-- <label for="email">Contact Numbe</label> -->
          <input
            type="password"
            name="cpassword"
            placeholder="Confirm password"
            class="input5 input"
            style="margin-top: 20px"
            required
          />
        </div>
        <br />
        <button class="reg-button" type="submit">Register</button>
        <p class="login-link">
          Already a User? <a href="/public/loginPage">Sign In</a>
        </p>
      </form>
    </div>
  </body>
</html>
