<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="icon" type="image/x-icon" href="/img/favicon/LOGO NEW.png" />

    <title>User | Sign up</title>
  </head>

  <body class="">
    <nav class="sign">
      <a href="/public/" class="a-logo"
        ><img src="/img/LOGO NEW.png" class="logo"
      /></a>
      <h2 class="reg-head">CUSTOMER REGISTRATION PAGE</h2>
    </nav>

    <div th:if="${error}!=''" class="user-alert">
      <div
        th:replace="~{/component/Toaster.html :: toaster(color=${error}=='Registration Successful, LogIn'?green:red,msg=${error})}"
      ></div>
    </div>

    <!-- <div class="flex justify-center items-center w-[100vw] h-[93vh] px-[2rem]">
      <form action="/user/saveNewUser" method="post">
        <div
          class="flex flex-col bg-white pb-[5vh] rounded-md shadow-md shadow-black"
        >
          <div
            class="flex justify-center items-center mb-[2rem] rounded-t-md border-[1px] border-black"
          >
            <a
              href="/public/registerUser"
              class="text-center w-[45%] py-[1rem] text-[1rem] font-bold bg-blue-400 rounded-tl-md text-white"
              >Register User</a
            >
            <a
              href="/public/registerFoodTruck"
              class="text-center w-[55%] py-[1rem] text-[1rem] font-semibold"
              >Register FoodTruck</a
            >
          </div>

          <div class="px-[2rem] flex flex-col">
            <label for="name" class="font-semibold text-[1rem] mb-[0.5rem]"
              >Full Name</label
            >
            <input
              type="text"
              name="name"
              class="w-[65vw] h-[4vh] border-[1px] border-black focus:outline-none pl-[0.5rem] text-[1.1rem] rounded-md mb-[1rem]"
            />
            <label for="email" class="font-semibold text-[1rem] mb-[0.5rem]"
              >Email</label
            >
            <input
              type="email"
              name="email"
              class="w-[65vw] h-[4vh] border-[1px] border-black focus:outline-none pl-[0.5rem] text-[1.1rem] rounded-md mb-[1rem]"
            />

            <label for="password" class="font-semibold text-[1rem] mb-[0.5rem]"
              >Password</label
            >
            <div
              class="border-[1px] border-black h-[4vh] rounded-md text-[1.1rem] flex items-center mb-[1rem] flex justify-center items-center"
            >
              <input
                id="pass"
                type="password"
                name="password"
                class="w-[56vw] focus:outline-none pl-[0.5rem] text-[1.1rem] rounded-md"
              />
              <div class="cursor-pointer" onclick="handlePass()">
                <i class="fa-solid fa-eye" id="show"></i
                ><i class="fa-solid fa-eye-slash hidden" id="hide"></i>
              </div>
            </div>

            <label for="cpassword" class="font-semibold text-[1rem] mb-[0.5rem]"
              >Confirm Password</label
            >
            <div
              class="border-[1px] border-black h-[4vh] rounded-md text-[1.1rem] flex items-center mb-[2rem] flex justify-center items-center"
            >
              <input
                id="cpass"
                type="password"
                name="cpassword"
                class="w-[56vw] focus:outline-none pl-[0.5rem] text-[1.1rem] rounded-md"
              />
              <div class="cursor-pointer" onclick="handleCPass()">
                <i class="fa-solid fa-eye" id="cshow"></i
                ><i class="fa-solid fa-eye-slash hidden" id="chide"></i>
              </div>
            </div>
            <script src="/js/passwordVisibility.js"></script>

            <button
              type="submit"
              class="bg-blue-400 text-white text-lg font-semibold rounded-lg py-[0.3rem] shadow-sm shadow-black mb-[1.3rem]"
            >
              Register User
            </button>
            <p>
              Old User?
              <a
                href="/public/loginPage"
                class="text-blue-500 underline underline-offset-[0.3rem]"
              >
                LogIn</a
              >
            </p>
          </div>
        </div>
      </form>
    </div> -->

    <div class="reg-form">
      <form class="reg" action="/user/saveNewUser" method="post">
        <div class="input-group">
          <!-- <label for="email">Email</label> -->
          <input
            type="email"
            name="email"
            placeholder="Enter mail"
            class="input1 input"
            required
          />
        </div>
        <br />
        <div class="input-group">
          <!-- <label for="email">Contact Numbe</label> -->
          <input
            type="text"
            placeholder="Enter contact number"
            name="contact"
            class="input2 input"
            required
          />
        </div>
        <br />
        <div class="input-group">
          <!-- <label for="email">Contact Numbe</label> -->
          <input
            type="text"
            placeholder="Enter customer name"
            name="name"
            class="input3 input"
            required
          />
        </div>
        <br />
        <div class="input-group">
          <!-- <label for="email">Contact Numbe</label> -->
          <input type="password" name="password" placeholder="Enter password"
          class="input4 input"/ required>
        </div>

        <div class="input-group">
          <!-- <label for="email">Contact Numbe</label> -->
          <input type="password" name="cpassword" placeholder="Confirm password"
          class="input5 input"/ style="margin-top: 20px;" required>
        </div>
        <br />
        <!--div class="input-group">
                 <label for="email">Contact Numbe</label> 
                <input type="text" placeholder="Enter address" class="input5 input"/>
              </div><br> 
               <div class="loc">
                <button class="loc-access">Location Access</button>
              </div><br> -->
        <button class="reg-button" type="submit">
          <a href="./customer_home.html">Register</a>
        </button>
        <p class="login-link">
          Already a User? <a href="./login_cust.html">Sign In</a>
        </p>
      </form>
    </div>
  </body>
</html>
