<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    <link rel="stylesheet" href="./style.css" />
    <link rel="icon" type="image/x-icon" href="./images/LOGO NEW.png" />
  </head>
  <body>
    <nav class="sign">
      <a href="./index.html" class="a-logo"
        ><img src="./images/LOGO NEW.png" class="logo"
      /></a>
      <h2 class="reg-head">REGISTRATION PAGE</h2>
    </nav>
    <div class="reg-form">
      <form class="reg">
        <div class="input-group">
          <!-- <label for="email">Email</label> -->
          <input
            type="email"
            placeholder="Enter mail"
            class="input1 input"
            required
          />
        </div>
        <br />
        <div class="input-group">
          <!-- <label for="email">Contact Numbe</label> -->
          <input
            type="text"
            placeholder="Enter contact number"
            class="input2 input"
            required
          />
        </div>
        <br />
        <div class="input-group">
          <!-- <label for="email">Contact Numbe</label> -->
          <input
            type="text"
            placeholder="Enter customer name"
            class="input3 input"
            required
          />
        </div>
        <br />
        <div class="input-group">
          <!-- <label for="email">Contact Numbe</label> -->
          <input type="password" placeholder="Enter password" class="input4
          input"/ required>
        </div>
        <br />
        <!--div class="input-group">
                 <label for="email">Contact Numbe</label> 
                <input type="text" placeholder="Enter address" class="input5 input"/>
              </div><br> 
               <div class="loc">
                <button class="loc-access">Location Access</button>
              </div><br> -->
        <button class="reg-button">
          <a href="./customer_home.html">Register</a>
        </button>
        <p class="login-link">
          Already a User? <a href="./login_cust.html">Sign In</a>
        </p>
      </form>
    </div>

    <script src="script.js"></script>
  </body>
</html>
