<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Details</title>
    <link href="/css/style.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/img/LOGO NEW.png">
</head>
<body>
    <nav class="navbar-truck">
        <img src="/img/LOGO NEW.png" class="nav-logo" alt="">
        <ul class="nav-list-truck">
          <li>
            <button class="box-back"><a href="/foodTruck/foodTruckDashboard"><i class="fa-solid fa-left-long"></i> Back</a></button>
          </li>
        </ul>
        </div>
      </nav><br>

    <form class="upd-truck" action="/foodTruck/updateFoodTruckDetails" method="post" enctype="multipart/form-data">
      <h2 style="margin-bottom: 2rem;">Update FoodTruck</h2>
        <div class="mb-3">
          <label for="timing" class="form-label">Update opening timing</label>
          <input type="time" class="form-control" id="timing" aria-describedby="emailHelp" name="openingTime" th:value="${foodtruck.openingTime}"><br><br>
          <label for="timing" class="form-label">Update closing timing</label>
          <input type="time" class="form-control" id="timing" aria-describedby="emailHelp" name="closingTime" th:value="${foodtruck.closingTime}">
        </div><br>
        <div class="mb-3" style="margin-bottom: 2rem;">
          <!-- <label for="exampleInputPassword1" class="form-label"></label> -->
          <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Name" name="name" th:value="${foodtruck.name}"><br><br>
          <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Foodtruck Name" name="foodTruckName" th:value="${foodtruck.foodTruckName}"><br><br>
          <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Email" name="email" th:value="${foodtruck.email}" disabled><br><br>
          <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Contact" name="contact" th:value="${foodtruck.contact}"><br><br>
          <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Address" name="address" th:value="${foodtruck.address}"><br><br>
          <div class="flex flex-col items-center">
            <img
              th:src="@{'data:image/jpeg;base64,'+${foodtruck.foodTruckImage}}"
              alt=""
              style="width: 15rem; height: 10rem"
              id="formDishePhoto"
            />
            <input type="file" name="file" style="margin-bottom: 1rem" />
          </div>

        </div>
        <button type="submit" style="background-image: linear-gradient(
          to right,
          #3212ff,
          #af00af,
          #184144 100%,
          #090c0c 200%
        );
        background-position-x: 0%;
        background-size: 200%;
        border: 0;
        border-radius: 8px;
        color: #fff;
        padding: 0.5rem 2rem;
        font-weight: bold;
        text-shadow: 0 1px 1px #333;
        transition: all 0.25s;">Update</button>
      </form>
      <style>
        input::file-selector-button {
          background-image: linear-gradient(
            to right,
            #ff7a18,
            #af002d,
            #319197 100%,
            #319197 200%
          );
          background-position-x: 0%;
          background-size: 200%;
          border: 0;
          border-radius: 8px;
          color: #fff;
          padding: 0.5rem 1rem;
          text-shadow: 0 1px 1px #333;
          transition: all 0.25s;
        }
      </style>
</body>
</html>