<!DOCTYPE html>
<!-- solve user location problem before doing any thing -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Home Page</title>
    <link href="/css/style.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/img/LOGO NEW.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <nav class="navbar">
      <img src="/img/LOGO NEW.png" class="nav-logo" alt="">
      <ul class="nav-list">
        <!-- <p>WANDERBITES</p> -->
        
        <li class="right" style="margin-right: 1rem;">
          <form action="/user/searchTruck" method="post">
            <input type="text" name="query" placeholder="Search for trucks,cuisine" required/>
            <button type="submit" style="background-image: linear-gradient(
              to right,
              #ff7a18,
              #af002d,
              #319197 100%,
              #319197 200%
            );
            background-position-x: 0%;
            background-size: 200%;
            border: 0;
            border-radius: 8px;
            color: #fff;
            padding: 0.5rem 1rem;
            text-shadow: 0 1px 1px #333;
            transition: all 0.25s;">Search</button>
          </form>
        </li>
        <li>
          <!-- <a href="#"><li class="box">Account</li></a> -->
          <div class="dropdown">
            <a href="#" class="box-acc" onclick=drop()>Account</a>
            <div id="myDropdown" class="dropdown-content">
              <a href="/user/userProfile">Profile</a>
              <a href="/public/aboutUs">About Us</a>
              <a href="/logout">Logout</a>
            </div>
          </div>
        </li>
        <li>
          <button class="loc-access" onclick="getLocation()">Location Access</button>
        </li>
      </ul>
      </div>
    </nav>
    
      <div style="background-color: white; " id="errorMsg" th:if="${error}">
        <p style="text-align: center;" th:text="${error}"></p>
      </div>
      <script>
        setTimeout(()=>{document.getElementById("errorMsg").style.display="none"},2000);
        
      </script>
<!-- below code is responsible for getting user location -->
<form action="/user/getUserLocation" method="post" hidden>
  <p id="msg"></p>
  <input type="text" name="lat" id="lat" th:value="${user.lat}" />
  <input type="text" name="long" id="long" th:value="${user.longi}" />
  <button type="submit" id="sendLocation">Go Online</button>
</form>

<div class="content">
  <h2>Nearby Trucks</h2><br>
  <div style="display: flex; flex-wrap: wrap; flex-direction: row; justify-content: center; align-items: center;" >
    <div  style="width: 26rem; display: flexbox; border: 5px solid black; padding: 20px; text-align: center; background-color: rgba(20, 20, 20, 0.45); margin: 0.5rem 0.5rem;" th:each="foodtruck : ${foodtrucks}">
      <h3 th:text="${foodtruck.foodTruckName}">Name of truck</h3><br>
      <div class="cus-info">
        <div class="cus-review">
          <span class="heading"><b>Rating: </b></span><span><i class="fa fa-star"></i></span><span th:text="${foodtruck.rating}"></span>
        </div><br>
        <div class="time">
          <p class="heading"><b>Timings: </b></p>
          <p>Opens at <span th:text="${foodtruck.openingTime}"></span></p>
          <p>Closes at <span th:text="${foodtruck.closingTime}"></span></p>
        </div><br>
        <div class="det-cus">
          <p class="heading"><b>Address: </b></p>
          <p th:text="${foodtruck.address}"></p>
        </div><br>
        <div class="contact-cus">
          <p class="heading"><b>Contact: </b></p>
          <p><i class="fa fa-phone"></i>+91 <span th:text="${foodtruck.contact}"></span></p>
        </div>
        <div class="btn">
          <button><a th:href="@{'/user/foodtruckDetails/'+${foodtruck.email}}">View</a></button>
          <button><a th:href="@{'https://www.google.com/maps/place/'+${foodtruck.lat}+','+${foodtruck.longi}}"
            target="_blank">Locate</a></button>
        </div>
      </div>
    </div>
    </div>
</div>




<!-- below code is responsible for getting user location -->
    <!-- <div class="px-[4vw] pt-[7vh] pb-[5vh]">
      
      <form action="/user/getUserLocation" method="post" hidden>
        <p id="msg"></p>
        <input type="text" name="lat" id="lat" th:value="${user.lat}" />
        <input type="text" name="long" id="long" th:value="${user.longi}" />
        <button type="submit" id="sendLocation">Go Online</button>
      </form>

      <h1
        class="text-center text-[1.4rem] font-semibold underline underline-offset-[0.7rem] mb-[2rem]"
      >
        Food Trucks Near By You
      </h1>

      <div
        th:each="foodtruck : ${foodtrucks}"
        class="flex flex-col justify-center items-center mt-[1.5rem]"
      >
        <div
          class="border-[1px] border-black rounded-lg bg-white w-[22rem] h-[14rem] shadow-md shadow-black flex p-[0.5rem]"
        >
          <img
            th:if="${foodtruck.foodTruckImage!=null}"
            th:src="@{'data:image/jpeg;base64,'+${foodtruck.foodTruckImage}}"
            alt=""
            class="rounded-lg w-[10rem] border-black border-[1px]"
          />
          <img
            th:if="${foodtruck.foodTruckImage==null}"
            th:src="@{/img/imgIcon.png}"
            alt=""
            class="rounded-lg w-[10rem] border-black border-[1px]"
          />
          <div class="ml-[1rem]">
            <a th:href="@{'/user/foodtruckDetails/'+${foodtruck.email}}"
              ><div class="pb-[0.5rem]">
                <p
                  th:text="${foodtruck.foodTruckName}"
                  class="text-wrap font-semibold text-[1.2rem]"
                ></p>
                <span
                  th:if="${foodtruck.status=='Closed'}"
                  th:text="${foodtruck.status}"
                  class="bg-red-600 px-[0.3rem] py-[0.1rem] font-semibold rounded-md text-white"
                ></span>
                <span
                  th:if="${foodtruck.status=='Open'}"
                  th:text="${foodtruck.status}"
                  class="bg-green-600 px-[0.3rem] py-[0.1rem] font-semibold rounded-md text-white"
                ></span></div
            ></a>
            <p class="text-wrap font-semibold text-[0.9rem] mb-[0.2rem]">
              Type:
              <span class="font-normal">Vegetarian and Non-Vegetarian</span>
            </p>
            <p class="text-wrap font-semibold text-[0.9rem] mb-[0.2rem]">
              Timing:
              <span
                th:text="${foodtruck.closingTime}"
                class="font-normal"
              ></span>
            </p>
            <p class="text-wrap font-semibold text-[0.9rem] mb-[0.2rem]">
              Distance:
              <span th:text="${foodtruck.distance}" class="font-normal"></span
              ><span class="font-semibold"> Km</span>
            </p>

            <a
              th:href="@{'https://www.google.com/maps/place/'+${foodtruck.lat}+','+${foodtruck.longi}}"
              target="_blank"
              ><p class="text-wrap font-semibold text-[0.9rem] mb-[0.2rem]">
                <i class="fa-solid fa-location-dot"></i>
                <span class="font-semibold"> FoodTruck Location</span>
              </p></a
            >
          </div>
        </div>
      </div>
    </div> -->
    <script th:src="@{/js/getUserLocation.js}"></script>
    <script src="/js/script.js"></script>
  </body>
</html>
